
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    transition: background-color 0.2s ease, color 0.2s ease;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    margin: 0 30px;
    transition: color 0.2s ease;
    font-size: 19px;

}

.navbar a:hover {
    color: #000000
}

.light-mode {
    background-color: #ffffff;
    color: #333333;
}

.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

header {
    background-color: #333333;
    color: #ffffff;
    padding: 1rem 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.sunny {
    display: none;
}


.logo {
    margin-left: -4%;
}

#dark-mode-toggle {
    opacity: 0;
    position: absolute;
    left: -9999px;
}

.mode-toggle label {
    cursor: pointer;
    font-size: 28px;
    display: flex;
    align-items: center;
}

.mode-toggle label :hover {
    color: rgb(250, 189, 21);
    transition: 0.2s ease;
}

main {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
    flex: 1;
}

.hero {
    margin-top: 18vh;
    text-align: center;
    padding: 4rem 0;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero h2 {
    font-style: italic;
}

.hero h3 {
    margin-top: 2vh;
}

footer {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 1rem 0;
    bottom: 0;
    width: 100%;
}

.game-buttons {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: -2vh;
    margin-bottom: 22vh;
}

#valorant-button {
    margin-right: 4vh;
    --c:  #3d0fa8; /* the color*/
    box-shadow: 0 0 0 .1em inset var(--c); 
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background: 
      var(--_g) calc(var(--_p,0%) - 100%) 0%,
      var(--_g) calc(200% - var(--_p,0%)) 0%,
      var(--_g) calc(var(--_p,0%) - 100%) 100%,
      var(--_g) calc(200% - var(--_p,0%)) 100%;
    background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
    outline-offset: .1em;
    transition: background-size .4s, background-position 0s .4s;
  }

  #valorant-button:hover {
    --_p: 100%;
    transition: background-position .4s, background-size 0s;
    color: #ffffff;
  }

  #valorant-button:active {
    box-shadow: 0 0 9e9q inset #0009; 
    background-color: var(--c);
    color: #fff;
  }
  
  #valorant-button {
    color: #3d0fa8;
    font-size: 2rem;
    cursor: pointer;
    padding: .1em .6em;
    border: none;
  }

#dota2-button {
    --c:  #a12424; 
    box-shadow: 0 0 0 .1em inset var(--c); 
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background: 
      var(--_g) calc(var(--_p,0%) - 100%) 0%,
      var(--_g) calc(200% - var(--_p,0%)) 0%,
      var(--_g) calc(var(--_p,0%) - 100%) 100%,
      var(--_g) calc(200% - var(--_p,0%)) 100%;
    background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
    outline-offset: .1em;
    transition: background-size .4s, background-position 0s .4s;
  }

  #dota2-button:hover {
    --_p: 100%;
    transition: background-position .4s, background-size 0s;
    color: #ffffff;
  }

  #dota2-button:active {
    box-shadow: 0 0 9e9q inset #0009; 
    background-color: var(--c);
    color: #fff;
  }
  
  #dota2-button {
    color: #a12424;
    font-size: 2rem;
    cursor: pointer;
    padding: .1em .6em;
    border: none;
  }
  
@media screen and (max-width: 768px) {
    .logo {
        font-size: 1.2rem;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
        font-size: auto;
    }

    .navbar a {
        margin: 10px 0;
    }

}
